@import '../../styles.scss';

/* Gesamtbereich der Landingpage */
.landing-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: flex-start;
}

/* Bild links */
.landing-image {
    position: absolute;
    left: 47px;   
    top: 106px; 
    width: 646px; 
    height: 705px;
    object-fit: cover;
}

/* Platzhalter rechts für den zukünftigen Text */
.landing-text {
    margin-left: 720px;
    padding-top: 106px;
    width: calc(100% - 720px);
}
