.mainpage-container {
    width: 100%;
    display: flex;
    flex-direction: column;   /* Sektionen untereinander */
    align-items: center;      /* Inhalt zentrieren */
    gap: 200px;               /* Abstand zwischen Sektionen */
    position: relative;
}

app-landingpage,
app-about,
app-skills,
app-projects,
app-contact {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
