@import '../../../styles.scss';

/* ======================================= */
/*     SKILLS SECTION                      */
/* ======================================= */

.skills-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

/* ======================================= */
/*     ZENTRIERTER INHALTSBEREICH          */
/* ======================================= */

.section-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* ======================================= */
/*     HAUPTBOX → 2 SPALTEN                */
/* ======================================= */

.skills-main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 120px;   
}

/* ======================================= */
/*   LINKE SPALTE (Icon-Raster)            */
/* ======================================= */

.skills-left {
    width: 60%;
}

.skill-icon-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 40px;
}

.skill-item {
    width: 60px;
    text-align: center;
}

.skill-icon {
    object-fit: contain;
    transition: transform 200ms ease;
    cursor: pointer;
}

.skill-icon:hover {
    transform: scale(1.1);
}

.skill-label {
    margin-top: 10px;
    font-size: 20px;
    color: $colorWhite;
}


/* ======================================= */
/*   RECHTE SPALTE (Textbereich)           */
/* ======================================= */
/* ======================================= */
/*   HEADING „My skills“ mit Linie         */
/* ======================================= */

.skill-heading-line {
    display: flex;
    align-items: center;          
    gap: 5px;                    
    margin: 0;
}


.skill-line {
    height: 4px;                 
    width: 140px;                 
    object-fit: contain;
}



.skills-right {
    width: 40%;
    display: flex;
    justify-content: center;
}

.skill-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    max-width: 520px;
}

.skill-heading {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap; 
}

.skill-subtitle {
    font-size: 24px;
}

.skill-subtitle-highlight {
    color: $colorPurple;
}

.get-button {
    width: 165px;
    height: 58px;
    background-color: $colorGreen;
    color: $colorWhite;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
}
