@import '../../../styles.scss';

/* === ÄUSSERER HEADER-BEREICH === */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: $colorDark;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

/* === INNERER BEREICH (max 1440px) === */
.header-inner {
    width: 100%;
    max-width: 1440px;
    position: relative;
}

/* BRAND-BUTTON (Jürgen) */
.brand-button {
    position: absolute;
    top: 37px;
    left: 50px;
    width: 140px;
    height: 38px;
    background-color: transparent;
    border: 2px solid $colorWhite;
    color: $colorGreen;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* Nav-Bar */
app-nav-bar {
    position: absolute;
    left: 700px;
    top: 37px;
}

/* Language-Bar */
app-language-bar {
    position: absolute;
    right: 50px;
    top: 34px;
}



/* ================================== */
/*              BREAKPOINTS           */
/* ================================== */

/* MINI PHONES (Startpunkt) */
@media (max-width: 320px) {}

/* VERY SMALL 321–379 */
@media (min-width: 321px) and (max-width: 379px) {}

/* SMALL 380–479 */
@media(min-width: 380px) and (max-width: 479px) {}

/* MEDIUM 480–599 */
@media (min-width: 480px) and (max-width: 599px) {}

/* TABLET 600–720 */
@media (min-width: 600px) and (max-width: 720px) {

    /* BRAND-BUTTON (Jürgen) */
    .brand-button {
        left: 10px;
        width: 80px;
        height: 24px;
        font-size: 14px;
    }

    /* Nav-Bar */
    app-nav-bar {
        left: 270px;
    }

    /* Language-Bar */
    app-language-bar {
        right: 10px;
    }
}



/* TABLET-WIDE 721–790 */
@media (min-width: 721px) and (max-width: 790px) {


    /* BRAND-BUTTON (Jürgen) */
    .brand-button {
        left: 20px;
        width: 100px;
        height: 28px;
        font-size: 16px;
    }

    /* Nav-Bar */
    app-nav-bar {
        left: 330px;
    }

    /* Language-Bar */
    app-language-bar {
        right: 20px;
    }
}



/* DESKTOP 791 -949 */
@media (min-width: 791px) and (max-width: 949px) {

    /* BRAND-BUTTON (Jürgen) */
    .brand-button {
        left: 30px;
        width: 120px;
        height: 28px;
        font-size: 16px;
    }

    /* Nav-Bar */
    app-nav-bar {
        left: 360px;
    }

    /* Language-Bar */
    app-language-bar {
        right: 30px;
    }
}


/* DESKTOP 950-1055 */
@media (min-width: 950px) and (max-width: 1055px) {

    /* BRAND-BUTTON (Jürgen) */
    .brand-button {
        left: 50px;
        width: 120px;
        height: 28px;
        font-size: 18px;
    }

    /* Nav-Bar */
    app-nav-bar {
        left: 470px;
    }

    /* Language-Bar */
    app-language-bar {
        right: 50px;
    }
}


/* DESKTOP STANDARD 1056-1440 */
@media (min-width: 1056px) and (max-width: 1440px) {

    /* BRAND-BUTTON (Jürgen) */
    .brand-button {
        left: 50px;
        width: 140px;
    }

    /* Nav-Bar */
    app-nav-bar {
        left: 500px;
    }

    /* Language-Bar */
    app-language-bar {
        right: 50px;
    }
}


/* Extra-Large > 1440px */
@media (min-width: 1441px) {
    /* Layout bleibt 1440px — NICHT vergrößern */
}