
@import '../../../styles.scss';

/* === ÄUSSERER HEADER-BEREICH === */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                   /* volle Breite */
    height: 100px;
    background-color: $colorDark;
    z-index: 1000;

    display: flex;
    justify-content: center;       /* zentriert den inneren Inhalt */
}


/* === INNERER BEREICH (max 1440px) === */
.header-inner {
    width: 100%;
    max-width: 1440px;
    position: relative;           
}


/* BRAND-BUTTON (Jürgen) */
.brand-button {
    position: absolute;
    top: 37px;
    left: 100px;
    width: 140px;
    height: 38px;
    background-color: transparent;
    border: 2px solid $colorWhite;
    color: $colorGreen;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}


/* Nav-Bar */
app-nav-bar {
    position: absolute;
    left: 700px;
    top: 37px;
}


/* Language-Bar */
app-language-bar {
    position: absolute;
    right: 100px;
    top: 34px;
}
