@import '../../../styles.scss';

/* ===================================== */
/*          LANDING SECTION BASIS        */
/* ===================================== */

.landing-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* zentriert die landing-layout Box */
    position: relative;
    overflow: hidden;
    /* verhindert Scrollbalken durch Wolken */
}


/* ===================================== */
/*     ZENTRALE 1440px LAYOUT-BOX        */
/* ===================================== */

.landing-layout {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/* ===================================== */
/*              PORTRAIT-BILD            */
/* ===================================== */

.landing-image {
    position: absolute;
    left: 100px;
    /* 100px zum linken Layoutrand */
    top: 120px;
    width: 550px;
    object-fit: contain;
    z-index: 2;
}


/* ===================================== */
/*          BACKGROUND CLOUD              */
/* ===================================== */

.landing-bg-cloud {
    position: absolute;
    left: -300px;
    /* bewusst weit links */
    top: -50px;
    width: 900px;
    z-index: 1;
    pointer-events: none;
}


/* ===================================== */
/*         TEXTBEREICH RECHTS           */
/* ===================================== */
/*
   Berechnung:
   100px vom Rand
 + 550px Porträt
 + 150px Abstand
 -----------------
   800px → Textblock beginnt
*/

.landing-main-box {
    position: absolute;
    left: 800px;
    top: 150px;
    width: 620px;
    z-index: 3;
}


/* ===================================== */
/*          HEADLINE-BLOCK              */
/* ===================================== */

.headline-box {
    display: flex;
    flex-direction: row;
}

.left-box {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
    color: $colorWhite;
}

.right-box {
    margin-left: 20px;
}

.landing-title {
    font-size: 90px;
    margin: 0;
}

.landing-subtitle {
    font-size: 58px;
    margin: 0;
}

.h2-purple {
    color: $colorPurple !important;
}


/* ===================================== */
/*              BUTTON                   */
/* ===================================== */

.talk-button {
    margin-top: 40px;
    width: 165px;
    height: 58px;
    background-color: $colorGreen;
    color: $colorWhite;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
}


/* ===================================== */
/*           SOCIAL ICONS + EMAIL        */
/* ===================================== */

.social-footer-box {
    position: absolute;
    left: 800px;
    top: 420px;
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 3;
}

.footer-line {
    width: 100px;
    height: 4px;
    background-color: $colorPurple;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.email-text {
    color: $colorWhite;
}


/* ===================================== */
/*            SCROLL HINT               */
/* ===================================== */

.scroll-hint {
    position: absolute;
    right: 40px;
    bottom: 40px;
    transform: rotate(90deg);
    color: $colorWhite;
}