

@import '../../../../styles.scss';

/* Sprachbereich */
.language-container {
    width: 92px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

/* Sprachen-Buttons */
.lang-button {
    background-color: transparent;
    border: 2px solid $colorWhite;
    color: $colorWhite;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2; /* 120% */
    cursor: pointer;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
}
