@import '../../../style.scss';

/* Sprachbereich */
.language-container {
    display: flex;
    gap: 24px; 
}

/* Sprachen-Buttons */
.lang-button {
    background-color: $colorDark;
    color: $colorWhite;
    border: 2px solid $colorWhite;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
