

@import '../../../../styles.scss';

/* Sprachbereich */
.language-container {
    width: 92px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}



/* Gemeinsamer Stil für beide Buttons */
.lang-button {
    width: 40px; 
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    background-color: $colorDark;
    color: $colorWhite;
    border: 2px solid $colorGreen;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
}

/* Aktiver Button – immer grün */
.lang-button.active {
    background-color: $colorGreen;
    color: $colorWhite;
}

.lang-button:hover {
    transform: scale(1.2);
    transition: transform 150ms ease-in-out;
}
