@import '../../../styles.scss';

/* ===================================== */
/*      ABOUT SECTION BASIS (zentriert)  */
/* ===================================== */

.about-section {
    width: 100%;
    display: flex;
    justify-content: center;

    padding-top: 120px;
    padding-bottom: 200px;

    position: relative;
}

/* ===================================== */
/*        zentrierter Hauptcontainer      */
/* ===================================== */

.about-main-box {
    max-width: 1440px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* ===================================== */
/*            ABOUT ME Bereich           */
/* ===================================== */

.about-me {
    width: 471px;
    height: 532px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.about-me h1 {
    width: 471px;
    height: 108px;
    margin: 0;
}

.about-me-text {
    width: 471px;
    margin-top: 40px;
}

/* ICON + TEXT SPALTEN */
.about-me-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Linke Icon-Spalte */
.icons-column {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 38px;
}

.about-icon {
    width: 40px;
    height: 40px;
}

.icon-lamp {
    margin-top: 20px;
}

.icon-puzzle {
    margin-top: 120px;
}

/* ===================================== */
/*       RIGHT PICTURE / PORTRAIT        */
/* ===================================== */

.picture-container {
    width: 471px;
    height: 532px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.about-picture {
    width: 453px;
    height: 453px;
    border-radius: 50%;
    border: 4px solid $colorGreen;
    object-fit: contain;
}

/* Linie */
.circle-line {
    position: absolute;
    left: 458px;
    top: 50%;
    transform: translateY(-50%);
    width: 267px;
    height: 4px;
    background-color: $colorGreen;
}

/* ===================================== */
/*              BACKGROUND                */
/* ===================================== */

.background-container {
    position: absolute;
    right: -300px;
    /* Cloud darf ausbrechen */
    top: 200px;
    width: 400px;
    height: 500px;
    overflow: visible;
}

.about-bg-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}