@import '../../../../styles.scss';

/* NAV-Bereich */
.nav-container {
    width: 340px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 29px;
}

/* Menü-Buttons */
.nav-item {
    height: 28px;
    background-color: transparent;
    border: none;
    color: $colorWhite;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

/* individuelle Button-Breiten */
.about-btn {
    min-width: 130px;
}

.skills-btn {
    width: 130px;
}

.portfolio-btn {
    width: 130px;
}

.about-btn:hover,
.skills-btn:hover,
.portfolio-btn:hover {
    color: $colorGreen;
    transform: scale(1.2);
    transition: transform 150ms ease-in-out;
}
