//  ############### GLOBAL FONTS ####################

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



// ################ GLOBAL-VARIABLES  ##################

$colorDark: #141D2F;
$colorWhite: #FFFFFF;
$colorGreen: #70E61C;
$colorPurple: #9747FF;
$colorBlue: #1CDAE6;



// ################ GLOBAL CLASSES #####################

* {
    margin: 0;
}