// ################ GLOBAL-VARIABLES  ##################

$colorDark: #141D2F;
$colorWhite: #FFFFFF;
$colorGreen: #70E61C;
$colorPurple: #9747FF;
$colorBlue: #1CDAE6;





// ################ GLOBAL CLASSES #####################

* {
    margin: 0;
}




