@import '../../../styles.scss';

/* Gesamte Project-Sektion */
.projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 150px;   
}

/* Box für Überschrift (1060 × 108) */
.projects-heading-box {
    width: 1060px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Allgemeine Projektbox (Wrapper) */
.project-wrapper {
    width: 1060px;       /* Einheitliche Breite für alle 3 Projektboxen */
    margin-top: 80px;   
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Abschlussbox (1340 × 378) */
.projects-feedback-box {
    width: 1340px;
    height: 378px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
