@import '../../../styles.scss';

/* ========================================= */
/*          GESAMTE PROJECT-SEKTION          */
/* ========================================= */

.projects-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   /* komplette Projektsektion zentriert */
}

/* ========================================= */
/*     ÜBERSCHRIFT MIT LINIEN LINKS/RECHTS   */
/* ========================================= */

.projects-heading-box {
    width: 1060px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 260px;
}

.heading-line {
    height: 4px;
    object-fit: contain;
}

.heading-line-left {
    width: 100px;
}

.heading-line-right {
    width: 507px;
}

/* ========================================= */
/*           OBERSTE BOX (1175 × 275)        */
/* ========================================= */

.projects-top-box {
    width: 1175px;
    height: 275px;
    margin-left: 260px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.top-box-text {
    font-size: 23px;
    color: $colorWhite;
    margin-left: 50px;
    margin-top: -200px;
}

/* ========================================= */
/*      ZENTRALE WRAPPER-BOX FÜR PROJEKTE    */
/* ========================================= */

.projects-center-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
}

/* Einzelne Projektboxen (zentriert) */
.project-wrapper {
    width: 1060px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========================================= */
/*     FEEDBACK-BEREICH (MIT NEUER STRUKTUR) */
/* ========================================= */

.projects-feedback-box {
    width: 1172px;
    min-height: 344px;
    margin-top: 120px;
    border: 2px solid $colorPurple;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 50px;
}

/* H2-Box oben → soll ZENTRIERT sein */
.feedback-heading-box {
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;   /* ✅ jetzt zentriert */
    align-items: center;
}

.feedback-heading-box h2 {
    color: $colorWhite;
    margin: 0;
    text-align: center;         /* optional, aber sauber */
}


/* ZENTRIERTE untere Box */
.projects-bottom-box {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box-text {
    width: 185px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: $colorPurple;
}

