@import '../../../styles.scss';

/* ============================= */
/*        FOOTER SECTION         */
/* ============================= */

.footer-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hauptbox: 1440 × 300 */
.footer-main-box {
    width: 1440px;
    height: 300px;
    position: relative;  
}

.footer-bg {
    position: absolute;
    top: -800px;        
    left: -1000px;       
    width: 2000px;      /* größer als 1440px, ragt nach außen ?*/
    height: auto;
    z-index: -1;            /* hinter dem Footer-Content */
    pointer-events: none;   /* Bild blockiert keine Klicks */
}



/* ================================================= */
/*   BOX 1 — LINKS (Text: "JÜRGEN")                  */
/*   Maße: 240×40 | Position: X100 / Y121            */
/* ================================================= */

.footer-box-left {
    width: 240px;
    height: 40px;
    position: absolute;
    left: 100px;
    top: 121px;
    display: flex;
    align-items: center;
}

.footer-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 58px;        
    line-height: 1.2;
    color: $colorGreen;   
    margin: 0;
}



/* ================================================= */
/*   BOX 2 — MITTE (Text: Email)                     */
/*   Maße: 240×40 | Position: X623 / Y123            */
/* ================================================= */

.footer-box-email {
    width: 240px;
    height: 40px;
    position: absolute;
    left: 623px;
    top: 123px;
    display: flex;
    align-items: center;
}

.footer-email {
    @extend .subtitle;    
    margin: 0;
}



/* ================================================= */
/*   BOX 3 — SOCIAL ICONS RECHTS                    */
/*   Maße: 180×40 | Position: X1166 / Y122          */
/*   Jede Icon-Größe: 40×40                         */
/* ================================================= */

.footer-box-icons {
    width: 180px;
    height: 40px;
    position: absolute;
    left: 1166px;
    top: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}



/* ================================================= */
/*   BOX 4 — Legal Notice Button                     */
/*   Maße: 100×32 | Position: X100 / Y166            */
/* ================================================= */

.footer-legal-box {
    width: 100px;
    height: 32px;
    position: absolute;
    left: 100px;
    top: 166px;
    display: flex;
    align-items: center;
}

.footer-legal-button {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-color: transparent;
    color: $colorWhite;
    cursor: pointer;
    font-size: 16px;
}
